<%= form_with scope: :articles, locale: true do |form| %>
    <div class="container">
    <div class="row">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <div class="row">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>
 
  <div class="row">
    <%= form.submit %>
  </div>
  </div>
<% end %>